* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(/img/Fundo\ Lista.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100vh;

}
h2{
    font-size: 30px;
    color: #fff;    
    text-align: center;
    margin: 20px;
}
.login-box{
    width: 350px;
    background: rgba(0, 0, 0, 0.527);
    border-radius: 20% 0;
    color: #fff;
    box-shadow: 1px 2px 10px #000,3px  6px 20px #000;
    padding: 50px 20px;
    

}
input{
    width:  100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    
}
.input-box{
    position: relative;
    margin-bottom: 20px;
}

.repurasenha{
    position: relative;
    margin-bottom: 20px;  


}
label{

    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    transform: translatey(18px);
    

}
input:focus{
    border-bottom: 2px solid #26a96a;
    box-shadow: 0 1px 0 0 #26a96a;

}
input:focus + label{
    transform: translateY(-14px) scale(.8);
    color: #26a96a;
    font-weight: bold;


}


button{
    padding: 15px 50px;
    margin: 20px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;

}
button:hover{
    background: rgba(0, 255, 191, 0.5);

}


.center{
    text-align: center;
}


a{
    text-decoration: none;
    color: #fff; 


}
a:hover{
    color: #26a96a;

}
.menu {
    list-style: none;
   /* border: 1px solid #26a96a;*/
    float: left;
    display: flex;  
    justify-content: space-between; 
    position: absolute;
    top: 0;
    right: 0;
    
    


}


.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #26a96a;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #26a96a;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}


.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}