@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/img/Fundo\ Lista.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: center;    
    min-height: 100vh;
}

h2{
    font-size: 30px;
    color: #fff;    
    text-align: center;
    margin: 20px;
}

.navegacao_home {
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}

.navegacao_home input {
    visibility: hidden;
    display: none;
}

.botaoMenuInicial {
    position: relative;
    display: flex;
    gap: 180px;
    padding: 50px 260px;
    border-bottom: 1px solid rgba(80, 21, 21, 0.2);
    background: rgba(180, 241, 252, 0.527);
    border-radius: 30px;
    overflow: hidden;
}
.botaoMenuInicial label {
    font-size: 1.1rem;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    opacity: .9;
    cursor: pointer;
    transition: .5s;
}
.botaoMenuInicial label:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
}

.navegacao_home input:nth-last-of-type(1):checked label:nth-of-type(1),
.navegacao_home input:nth-last-of-type(2):checked label:nth-of-type(2),
.navegacao_home input:nth-last-of-type(3):checked label:nth-of-type(3),
.navegacao_home input:nth-last-of-type(4):checked label:nth-of-type(4),
.navegacao_home input:nth-last-of-type(5):checked label:nth-of-type(5) {
    color: #fff;
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
}

.navegacao_home input:nth-last-of-type(1):checked~ .botaoMenuInicial .underline {
    left: 0;
}
.navegacao_home input:nth-last-of-type(2):checked~ .botaoMenuInicial .underline {
    left: 0%;
}
.navegacao_home input:nth-last-of-type(3):checked~ .botaoMenuInicial .underline {
    left: 40%;
}
.navegacao_home input:nth-last-of-type(4):checked~ .botaoMenuInicial .underline {
    left: 60%;
}
.navegacao_home input:nth-last-of-type(5):checked~ .botaoMenuInicial .underline {
    left: 80%;
}

/* Personalizaçaõ do Menu_Cabeçaho */
.menu {
    list-style: none;
    float: left;
    display: flex;  
    justify-content: space-between; 
    position: absolute;
    top: 0;
    right: 0;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #26a96a;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #333;
    color: #26a96a;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

/* Personalização do Cadastro Casa */
.container_cadastro_casa {
    max-width: 600px;
    margin: auto;
    padding: 50px 100px;
    border: 1px solid #ccc; 
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.527);
    text-align: center; 
    color: #fff;
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
}

.container_cadastro_casa h1 {
    margin-bottom: 30px;
    font-size: 24px;   
    text-align: center; 
    color: #fff;
}

.container_cadastro_casa input[type="number"], [type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #56caf8;
    border-radius: 5px;  
    background: rgba(7, 86, 110, 0.5);
    color: #fffbfb;
}

.container_cadastro_casa .button-group {
    text-align: center;
    margin-top: 30px;
}

.container_cadastro_casa .button-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.container_cadastro_casa .button-group button.submit {
    background-color: #28a745;
    margin-left: 0;
}

.container_cadastro_casa .button-group button:hover {
    opacity: 0.8;
}

/* Estilo da Tabela de Consulta */
.container_consulta_apartamentos {
    max-width: 600px;
    margin: auto;
    padding: 50px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.527);
    text-align: center;
    color: #fff;
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
}

.container_consulta_apartamentos h1 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #fff;
}

#tabelaApartamentos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tabelaApartamentos thead {
    background-color: rgba(7, 86, 110, 0.5);
}

#tabelaApartamentos th, #tabelaApartamentos td {
    border: 1px solid #56caf8;
    padding: 0px;
    text-align: center;
}

#tabelaApartamentos th {
    color: #fff;
    font-weight: bold;
}

#tabelaApartamentos td {
    color: #fff;
}

#tabelaApartamentos tr:nth-child(even) {
    background-color: rgba(7, 86, 110, 0.5);
}
